@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Montserrat", sans-serif;
	}
}

html {
	scroll-behavior: smooth !important;
}

.bgImg {
	background-image: url("/loginBg.png");
	background-position: top;
	background-size: 50vw auto;
}

.link1 {
	/* display: inline-block; */
	/* padding: 5px; */
	position: relative;
	/* color: #84c2ff; */
	/* text-decoration: none; */
}

.link1.underline-left-right::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2.5px; /* 100% will cover entire background of text */
	border-radius: 10px;
	background-color: #ff148b;
	bottom: 0;
	left: 0;
}

.link1.underline-left-right {
	position: relative;
}
.link1.underline-left-right::before {
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.4s ease-in-out;
}
.link1.underline-left-right:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

.rotate-animation {
	animation: rotate-animation 1s linear infinite;
}

@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: #dc7932;

	position: fixed;
	z-index: 2021;
	top: 0;
	left: 0;

	width: 100%;
	height: 3px;
}

/* Fancy blur effect */
#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #dc7932, 0 0 5px #dc7932;
	opacity: 1;

	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 2021;
	top: 15px;
	right: 15px;
}

#nprogress .spinner-icon {
	width: 18px;
	height: 18px;
	box-sizing: border-box;

	border: solid 2px transparent;
	border-top-color: #dc7932;
	border-left-color: #dc7932;
	border-radius: 50%;

	-webkit-animation: nprogress-spinner 400ms linear infinite;
	animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
	overflow: hidden;
	position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
	position: absolute;
}

@-webkit-keyframes nprogress-spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes nprogress-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
